@media (max-width: 767px) {
  .desktop--menu {
    display: none; }

  .mobile--menu {
    display: block;
    text-align: right; }

  img {
    width: auto; }

  nav {
    background-color: #2a2a2a; }

  .slider .owl-dots {
    padding-top: 20px; }
  .slider .item--slider .item--slider--content h1 {
    font-size: 21px; }
  .slider .item--slider .item--slider--content p {
    font-size: 14px;
    line-height: 2; }

  button {
    margin-bottom: 15px; }

  .item--line--grey {
    width: 80%; }

  .item--line--red {
    width: 20%; }

  .section4 {
    display: none; }

  .section2 p {
    margin-bottom: 35px; }

  .section3 img {
    margin-top: 25px; }
  .section3 .item--line--grey {
    width: 100%; }

  .section1,
  .section2,
  .section3,
  .section5,
  .section7,
  .section8 {
    text-align: center; }

  .section5 .col-md-4 p {
    text-align: center; }

  .section6 input {
    width: 60%; }

  .text--footer--right {
    display: inline;
    font-size: 17px; }
    .text--footer--right .fa-facebook-f,
    .text--footer--right .fa-twitter,
    .text--footer--right .fa-pinterest-p,
    .text--footer--right .fa-google-plus-g,
    .text--footer--right .fa-linkedin-in,
    .text--footer--right .fa-skype {
      margin-left: 0px; }
    .text--footer--right a {
      text-decoration: none; }

  .text--footer--left {
    font-size: 12px; }

  .section8 .container--flex {
    display: block; }
    .section8 .container--flex p {
      margin-left: 0px; }
  .section8 h6 {
    font-size: 34px; }
  .section8 .fa-phone {
    margin-bottom: 5px; }
  .section8 .fa-envelope {
    margin-bottom: 5px; }
  .section8 .fa-map-marker {
    margin-bottom: 5px; } }
@media only screen and (max-width: 500px) {
  .desktop--menu {
    display: none; }

  .mobile--menu {
    display: block;
    text-align: right; }

  img {
    width: 100%; }

  nav {
    background-color: #2a2a2a; }

  .slider .owl-dots {
    padding-top: 20px; }
  .slider .item--slider .item--slider--content h1 {
    font-size: 21px; }
  .slider .item--slider .item--slider--content p {
    font-size: 14px;
    line-height: 2; }

  button {
    margin-bottom: 15px; }

  .item--line--grey {
    width: 80%; }

  .item--line--red {
    width: 20%; }

  .section4 {
    display: none; }

  .section2 p {
    margin-bottom: 35px; }

  .section3 img {
    margin-top: 25px; }
  .section3 .item--line--grey {
    width: 100%; }

  .section1,
  .section2,
  .section3,
  .section5,
  .section7,
  .section8 {
    text-align: center; }

  .section6 input {
    width: 60%; }

  .section7 img {
    width: auto;
    margin-bottom: 70px; }

  .text--footer--right {
    display: inline;
    float: right;
    font-size: 17px; }
    .text--footer--right .fa-facebook-f,
    .text--footer--right .fa-twitter,
    .text--footer--right .fa-pinterest-p,
    .text--footer--right .fa-google-plus-g,
    .text--footer--right .fa-linkedin-in,
    .text--footer--right .fa-skype {
      margin-left: 0px; }
    .text--footer--right a {
      text-decoration: none; }

  .text--footer--left {
    font-size: 12px; }

  .section8 h6 {
    font-size: 34px; }
  .section8 p {
    margin-left: 0px; }
  .section8 .fa-phone {
    margin-bottom: 5px; }
  .section8 .fa-envelope {
    margin-bottom: 5px; }
  .section8 .fa-map-marker {
    margin-bottom: 5px; } }
